# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Build
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Python Tooling
# ==========================================

.mypy_cache/
.ruff_cache/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.temp